<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Product</h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <h1>Categories</h1>
      <% categories.forEach(function(category){ %>
      <li>
        <a href="/categories/<%= category.id %>"><%= category.name %></a>
      </li>
      <% }); %>
      <h1>Sellers</h1>
      <% sellers.forEach(function(seller){ %>
      <li>
        <a href="/sellers/<%= seller.id %>"><%= seller.name %></a>
      </li>
      <% }); %>
    </div>
    <div>
      <button><a href="/products/<%= id %>/update">Update</a></button
      ><button>delete</button>
    </div>
  </body>
</html>
