<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Product</h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <p>Product name: <%= product.products %></p>
      <p>Seller <%= product.sellers %></p>
      <p>Belong to category: <%= product.categories %></p>
    </div>
    <div class="test">
      <% for(const [index,data] of Object.entries(product)){ %>
      <li><%= index %> is <a href="/<%=index%>/"></a><%= data %></li>
      <% } %>
    </div>
  </body>
</html>
