<html>
  <header><link rel="stylesheet" href="/index.css" /></header>
  <body>
    <h1>Update this products</h1>
    <%- include("partial/nav.ejs") %>
    <form action="/products/<%= id %>/update" method="post">
      <fieldset>
        <legend>Categories</legend>
        <% categories.forEach(function(category){ %>
        <div>
          <input
            type="checkbox"
            name="categories"
            id="<%= category.id %>"
            value="<%= category.id %>"
          />
          <label for="<%= category.id %>"><%= category.name %></label>
        </div>
        <% }); %>
      </fieldset>

      <fieldset>
        <legend>Sellers</legend>
        <% sellers.forEach(function(seller){ %>
        <div>
          <input
            type="checkbox"
            name="sellers"
            id="<%= seller.id %>"
            value="<%=seller.id %>"
          />
          <label for="<%= seller.id %>"><%= seller.name %></label>
        </div>
        <% }); %>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
